@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.banner {
  height: 5.5rem;
  padding: 0rem 2rem 0rem;
  background-color: rgb(87, 101, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 100%;
}

.banner Img {
  position: relative;
  height: 3rem;
  width: auto;
  margin-left: 2%;
}

.seccion-cuestionario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: #6f89cf9a; */
  /* color: #9fa6b7; */
  padding: 40px;
  border-radius: 50px;
  width: 1000px;
  height: 900px;
  gap: 1px;
  /* margin-top: 60px; */
}

.seccion-preguntas-respuestas {
  display: flex;
  flex-direction: column;
  border: 3px rgb(87, 101, 255) solid;
  overflow-y: auto;
  height: 800px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.seccion-preguntas{
  display: flex;
  flex-direction: column;
  /* border: 1px white solid; */
  /* height: 400px; */
  /* padding-top: 30px; */
  padding-left: 50px;
}

.seccion-preguntas-hijas {
  display: flex;
  flex-direction: column;
  /* border: 1px white solid; */
  /* height: 400px; */
  padding-top: 30px;
  padding-left: 50px;
}

.texto-pregunta {
  font-family: 'Plus Jakarta Sans';
  font-size: large;
}

.seccion-botones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seccion-terminar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.btn-cuestionario {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Plus Jakarta Sans';
}

.btn-cuestionario:hover{
  background-color: #9fa6b7;
  color: black;
  font-family: 'Plus Jakarta Sans';
}


/* Target the entire slider track */
.slider .rc-slider-track {
  background-color: #2c125f; /* Adjust background color */
  height: 5px; /* Adjust track height */
}

/* Target the filled portion of the track */
.slider .rc-slider-handle {
  background-color: #007bff; /* Adjust handle color */
  border-color: #007bff; /* Adjust handle border color */
}

/* Target the slider handle itself */
.slider .rc-slider-handle:focus,
.slider .rc-slider-handle:hover {
  background-color: #0067cc; /* Adjust handle hover/focus color */
  border-color: #0067cc; /* Adjust handle hover/focus border color */
}



/* Target the slider marks labels (optional) */
.slider .rc-slider-mark-text {
  color: #333; /* Adjust label color */
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
}
