@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

label,
input {
  font-family: 'Plus Jakarta Sans';
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  /* background-color: #171b26; */
}

.home-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #6f89cf9a;
  color:white;
  padding: 40px;
  margin-top: 60px;
  border-radius: 50px;
  height: 500px;
  width: 900px;
}

.title-buttons {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 380px;
  margin-right: 50px;
}

.home-image {
  width: 300px;
  border-radius: 150px;
}

.home-title {
  /* font-family: "Open Sans"; */
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 32px;
  margin-bottom: 42px;
}

.home-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}

#btn-log-in,
#btn-registrarse {
  display: inline-block;
  margin-top: 20px;
  color: black;
  font-family: 'Plus Jakarta Sans';
}

#btn-log-in:hover,
#btn-registrarse:hover {
  background-color: #9fa6b7;
  color: black;
  font-family: 'Plus Jakarta Sans';
}

#error-message {
  font-family: 'Plus Jakarta Sans';
}
